:root {
  --font-family-primary: 'Inter', Helvetica, Arial, sans-serif;
}

/* Inter font utility classes */
.inter-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-extralight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: black;
  font-size: .875rem; /* Set the font size to .875rem */
}

html {
  margin: 0;
  padding: 0;
}

.layout-container {
  display: flex;
}

.layout-container > Navigation {
  flex-shrink: 0; /* Prevent Navigation from shrinking */
}

.layout-container .content {
  flex-grow: 1; /* Allow content to take up remaining space */
  padding: 1rem; /* Optional: Add padding for better spacing */
}