---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "The Rabbit Hole | Articles";
---

<BaseLayout pageTitle={pageTitle}>
	<p>Welcome to The Rabbit Hole!</p>
</BaseLayout>